/* Navigation */

nav { font-weight: 300; text-transform: uppercase;
	ul { margin-top: 1em;
		li { display: inline; padding-right: 1.3em;
			&:last-child { padding-right: 0; }
			a { color: $neutral-six; 
				&:hover { color: $accent-pink; }
			}
		}
		.active a { color: $accent-blue; font-weight: 400;
			&:hover { color: $accent-blue; cursor: default; }
		}
	}
}

footer {
	nav {
		ul {
			li { display: block; padding: 0 0 .5em;
				&:last-child { padding-bottom: 0; }
				a { color: $neutral-one;} 
			}
		}
	}
}