/* Typography */

h1 { font-size: 3em; line-height: 1em; padding: 1em 0; }
h2 { font-size: 2em; line-height: 1em; padding: 1em 0; }

p { line-height: 1.35em; padding-bottom: 3em; 
	small { font-size: .7em; line-height: .8em; }
}

footer { 
	p { font-weight: 300; }
	small { font-size: .5em; }
}

.notes { margin-top: -8.1em; }

.price { font-size: 5em; margin: .5em 0; display: block; line-height: 1em;
	small { color: $neutral-five; font-size: .5em; }
}